## gitignore file
**/*.acn
**/*.acr
**/*.alg
**/*.aux
**/*.bbl
**/*.bcf
**/*.blg
**/*.doc
**/*.dvi
**/*.glg
**/*.glo
**/*.gls
**/*.idx
**/*.ilg
**/*.ind
**/*.ist
**/*.jpg
**/*.lof
**/*.log
**/*.lot
**/*.maf
**/*.mtc
**/*.mtc1
**/*.out
**/*.pdf
**/*.png
**/*.synctex.gz
**/*.toc
**/*.xml
**/*.fls
**/*.fdb_latexmk
**/*.sty
**/*.nav
**/*.snm
**/*.bib
**/*pk
